/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require _honoka
 */

// @import "bootstrap";
// @import "font-awesome";
@import "rfs/scss";
// @import "bootstrap-sprockets";
// @import "honoka";

.navbar {
    min-height: 3.2rem;
    padding: 0.2rem 1.5rem;
}

.navbar {
    background-color: #BDE0FC;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link.active {
    color: #0058a0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 128, 233);
}

.navbar-light .navbar-nav .nav-link:hover,

.navbar-light .navbar-nav .nav-link.active {
    color: rgb(0, 89, 161);
}

.jumbotron {
    background-color: #BDE0FC;
    color: #0058a0;
}


.container-for-navbar {
    padding-top: 3.2rem;
}

.container.main, .container-fluid.main {
    padding-top: 10px;
    padding-bottom: 3rem;
}