// Place all the styles related to the tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-body.comments {
    max-height: 300px;
    overflow-y: auto;
}

.media-movies {
  flex-wrap: wrap;
}

.media-movies .media-body {
    min-width: 80%;
    position: relative;
}

// .media-comment .media-body {
//     min-width: 100%;
// }